@import "../../node_modules/flyout/scss/mixin";

.tips-handle {
  display: inline-block;
  width: 20px;
  text-align: center;
  color: #999;
}

.flyout-help-tips {
  min-width: 230px;
  max-width: 500px;
  border-radius: 3px;
  color: #fff;
  @include flyout-box-style($bgColor: rgba(0, 0, 0, 0.83));
  @extend .font-size-12px;

  p {
    margin-bottom: 0.5rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}