@mixin rotate-forever {
  0% {
    transform: rotate(0deg);
  }
  100%  {
    transform: rotate(360deg);
  }
}

@mixin rotate-forever-revert {
  0% {
    transform: rotate(360deg);
  }
  100%  {
    transform: rotate(0deg);
  }
}

@keyframes rotate-forever { @include rotate-forever; }
@keyframes rotate-forever-revert { @include rotate-forever-revert; }

.rotate-forever {
  animation-duration: .75s;
  animation-iteration-count: infinite;
  animation-name: rotate-forever;
  animation-timing-function: linear;
}

.rotate-forever-revert {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: rotate-forever-revert;
  animation-timing-function: linear;
}